.cover__title {
  position: relative;
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 34px;
    line-height: 109%;
    max-width: 288px;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}
